$Primary-color: #9356DC;
$Secondary-color: #FF79DA ;
$Tertiary-color: #99E2D0;
$Footer-text-color: #fff;

$Background-color-body: #F6F6F6;
$Background-color-header: white;
$Background-color-fonction: white;
$Background-color-info: #EAEAEA;
$Background-color-footer: #353535;

$Scrollbar-color1: #c4bdba;
$Scrollbar-color2: #807977;
$Scrollbar-color3:	#9775c0;

$Body-font-title: Shrikhand;
$Body-font-text: Roboto;

$Font-size-small: 300;
$Font-size-normal: 400;
$Font-size-big: 500;
$Font-size-bigger: 700;