/*=============== IMPORT "VARIABLES / MIXINS" ===============*/
@import "../utils/variables";
@import "../utils/mixins";

/*=============== MENU (Restaurants pages)===============*/
.restaurants__menu {
  @include flex($direction: column, $gap: 12px);
  background-color: white;
}

.restaurant__page--img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.restaurant__page--headline {
  @include flex($justify: space-between, $align:center, $gap: 0.8rem);
  max-width: 1055px;
  position: relative;
  margin: -40px auto 0 auto;
  padding: 32px 3.4vw 0px 3.4vw;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  background: $Background-color-body;
  @include tablet {
    padding-right: 225px;
    padding-left: 225px;
  }
  @include desktop {
    padding-right: 365px;
    padding-left: 365px;
  }
}

.restaurants__block--menu {
  z-index: 1;
  background: $Background-color-body;
  margin: 0 auto;
  max-width: 1055px;
    @include tablet {
      padding-right: 100px;
      padding-left: 100px;
    }
    @include desktop {
      padding-right: 210px;
      padding-left: 210px;
    }
}

.restaurant {
  font-style: normal;
  line-height: normal;

  /* Style des grands titres "Entrées - Plats - Déserts" */
  &__card--title2 {
    font-family: $Body-font-text;
    font-weight: $Font-size-small;
    font-size: 1.12rem;
    @include desktop {
      margin-left: 0;
    }

    /* Soulignement vert */    
    &::after {
      justify-self: flex-end;
      content: "";
      overflow: visible;
      width: 3.06rem;
      height: 0.18rem;
      display: block;
      background-color: $Tertiary-color;
    }
  }

  /* Style du menu des "Entrées - Plats - Déserts" */
  &__card--subtitle {
    font-family: $Body-font-text;
    font-weight: $Font-size-big;
    font-size: 0.94rem;
  }

  /* Style des descriptions des "Entrées - Plats - Déserts" */
  &__card--description {
    font-family: $Body-font-text;
    font-weight: $Font-size-small;
    font-size: 0.94rem;
    margin-top: -0.5rem;
    @include flex($justify: space-between);
    
  }

  /* Style des prix des "Entrées - Plats - Déserts" */
  &__card--price {
    font-weight: $Font-size-big;
  }

  /* Style des cards "Entrées - Plats - Déserts" */
  &__card--info {
    @include flex($direction: column);
    width: 100%;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    border-radius: 0.93rem;
    background-color: white;
    box-shadow: 0 0.25rem 0.93rem rgba(0, 0, 0, 0.1);

    /* Effet de transition de l'animation d'ombre hover */
    transition: box-shadow, transform, 0.5s;
    &:hover {
      box-shadow: 0 0.25rem 1.25rem $Color-shadows2-button;
    }
  }
}
