@charset "UTF-8";
/*=============== IMPORT BASE ===============*/
/*=============== GOOGLE FONT ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
/*=============== BASE ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F6F6;
  position: relative;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
}

:focus {
  outline: none;
}

address {
  font-style: inherit;
}

ul {
  list-style: none;
}

h1,
.footer__title {
  font-family: Shrikhand;
}

h2, .info__title,
p, .footer__list {
  font-family: Roboto;
}

.footer__title,
.footer__list {
  color: #fff;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.7rem;
  border-radius: 0.3rem;
  background-color: #c4bdba;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #807977;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ab7ce4;
}

/*=============== IMPORT COMPONENTS ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== IMPORT "VARIABLES" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== MIXIN ===============*/
/*========== Flexbox ==========*/
/*========== Media Queries ==========*/
/* Landon Schropp’s technique */
/*=============== BUTTON STYLE ===============*/
.info__button,
.button-order {
  cursor: pointer;
  color: white;
  width: 13.62rem;
  height: 3.12rem;
  flex-shrink: 0;
  border-radius: 1.56rem;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0 0.25rem 0.62rem 0 rgba(0, 0, 0, 0.2509803922);
  transition: box-shadow, transform, 0.5s;
}

.button-order {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

.info__button:hover,
.button-order:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1490196078) 0%, rgba(255, 255, 255, 0.1490196078) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0 0.25rem 0.93rem 0 rgba(0, 0, 0, 0.3490196078);
  transition: box-shadow, transform, 0.5s;
}

/*=============== IMPORT LAYOUT ===============*/
/*=============== IMPORT "VARIABLES / MIXINS" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== IMPORT "VARIABLES" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== MIXIN ===============*/
/*========== Flexbox ==========*/
/*========== Media Queries ==========*/
/* Landon Schropp’s technique */
/*=============== HEADER ===============*/
header {
  background-color: #fff;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
}

.header__logo--img {
  padding: 14px 89px 13px 17px;
  margin-left: 5rem;
}

.header__nav--arrow {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  width: 1.87rem;
  height: 1.87rem;
  position: absolute;
  left: 1.18rem;
  padding-top: 1rem;
}

/*=============== IMPORT "VARIABLES / MIXINS" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== IMPORT "VARIABLES" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== MIXIN ===============*/
/*========== Flexbox ==========*/
/*========== Media Queries ==========*/
/* Landon Schropp’s technique */
/*=============== FOOTER ===============*/
footer {
  background-color: #353535;
}
@media (min-width: 1440px) {
  footer {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: initial;
    gap: initial;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 1rem;
  width: 100%;
  padding: 1.37rem 1.56rem;
  max-width: 1440px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: initial;
    align-items: flex-end;
    gap: 0;
    height: 7.12rem;
    padding: 1.87rem 1.09rem;
  }
  .footer address .footer__link {
    width: 6.25rem;
  }
}
@media (min-width: 1024px) {
  .footer {
    gap: 1rem;
    padding: 1.87rem 1.56rem;
  }
  .footer address .footer__link {
    width: 8.12rem;
  }
}
.footer__title {
  height: 1.68rem;
  transition: all 0.25s;
}
.footer__title:hover {
  color: #FF79DA;
}
@media (min-width: 768px) {
  .footer__title {
    width: 16%;
    max-width: 8.68rem;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.43rem;
}
@media (min-width: 768px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.43rem;
  }
}
.footer__link {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 0.62rem;
  height: 1.18rem;
  width: 11.87rem;
  transition: all 0.25s;
}
.footer__link:hover {
  color: #FF79DA;
}

/*=============== IMPORT PAGES ===============*/
/*=============== IMPORT "VARIABLES / MIXINS" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== IMPORT "VARIABLES" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== MIXIN ===============*/
/*========== Flexbox ==========*/
/*========== Media Queries ==========*/
/* Landon Schropp’s technique */
/*=============== INDEX PAGE ===============*/
.localisation__container,
.info__container,
.fonctionnement__container {
  max-width: 375px; /* Résolution Mobile */
}

.info__container {
  background-color: #EAEAEA;
}

.fonctionnement__container {
  background-color: #fff;
}

/*=============== INDEX PAGE "RESTAURANTS" ===============*/
/* Style de l'ensemble de la section restaurants */
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.62rem;
  padding: 3.37rem 1.09rem 4.12rem 1.09rem;
  /* Style du titre de la section "Restaurants" */
  /* Style de l'ensemble du conteneur regroupant toutes les cards */
}
.restaurants__title {
  padding-left: 0.18rem;
  width: 100%;
  max-width: 67.5rem;
}
.restaurants__block--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.12rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 67.5rem;
}

/* Style de design de card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 1rem;
  width: 100%;
  border-radius: 0.93rem;
  background-color: white;
  box-shadow: 0 0.25rem 0.93rem rgba(0, 0, 0, 0.1);
  transition: box-shadow, transform, 0.5s;
  /* Style de design pour le badge "nouveau"*/
  /* Largeur et positionnement de card */
  /* Redimensionnement de taille de l'image de card */
  /* Style du contenu "titre et description" de card */
  /* Style du titre de card */
  /* Style du sous-titre de card */
  /* Positionnement de l'icon de card */
}
.card:hover {
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.3490196078);
}
.card__restaurant--new:hover::before {
  box-shadow: 1px 4px 20px rgba(0, 135, 102, 0.3);
}
.card__restaurant--new:hover::before {
  background-color: #99E2D0;
}
.card__restaurant--new::before {
  content: "Nouveau";
  font-family: Roboto;
  position: absolute;
  right: 3.53%;
  top: 5.18%;
  width: 80px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2509803922);
  transition: box-shadow, transform, 0.5s;
}
.card__restaurant--link {
  width: 100%;
  position: relative;
}
.card__restaurant--img {
  border-radius: 0.93rem 0.93rem 0 0;
  height: 10.79rem; /* 251px - 77px */
  width: 100%;
  object-fit: cover;
}
.card__restaurant--content {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.31rem;
  padding: 0 1.56rem 0 0.81rem;
}
.card__restaurant--title {
  font-family: Roboto;
  font-weight: 300;
  padding-left: 0.18rem;
  margin-top: -0.3rem;
  width: 100%;
}
.card__restaurant--subtitle {
  padding-left: 0.18rem;
  margin-top: -0.9rem;
}
.card__restaurant--icon {
  position: absolute;
  width: 1.62rem;
  right: 1.43rem;
  bottom: 2rem;
}

/*=============== IMPORT "VARIABLES / MIXINS" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== IMPORT "VARIABLES" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== MIXIN ===============*/
/*========== Flexbox ==========*/
/*========== Media Queries ==========*/
/* Landon Schropp’s technique */
/*=============== MENU (Restaurants pages)===============*/
.restaurants__menu {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 12px;
}

.restaurant__page--img {
  border-radius: 0 0 0.93rem 0.93rem;
  object-fit: cover;
  height: 10.87rem;
  width: 100%;
  margin-top: -1rem;
}

.restaurant__page--headline {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin: -2.5rem auto 0 auto;
  padding-top: 4rem;
  padding-left: 4.5rem;
  padding-right: 2rem;
}

.restaurants__block--menu {
  margin: 0 auto;
}

.restaurant {
  font-style: normal;
  line-height: normal;
  /* Style des grands titres "Entrées - Plats - Déserts" */
  /* Style du menu des "Entrées - Plats - Déserts" */
  /* Style des descriptions des "Entrées - Plats - Déserts" */
  /* Style des prix des "Entrées - Plats - Déserts" */
  /* Style des cards "Entrées - Plats - Déserts" */
}
.restaurant__card--title2 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.12rem;
  /* Soulignement vert */
}
.restaurant__card--title2::after {
  justify-self: flex-end;
  content: "";
  overflow: visible;
  width: 3.06rem;
  height: 0.18rem;
  display: block;
  background-color: #99E2D0;
}
.restaurant__card--subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.94rem;
}
.restaurant__card--description {
  font-family: Roboto;
  font-weight: 300;
  font-size: 0.94rem;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
}
.restaurant__card--price {
  font-weight: 500;
}
.restaurant__card--info {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.93rem;
  background-color: white;
  box-shadow: 0 0.25rem 0.93rem rgba(0, 0, 0, 0.1);
  /* Effet de transition de l'animation d'ombre hover */
  transition: box-shadow, transform, 0.5s;
}
.restaurant__card--info:hover {
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.3490196078);
}

/*=============== PREFERS-COLOR-SCHEME ===============*/
/*=============== IMPORT "VARIABLES" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== PREFERS-COLOR-SCHEME ===============*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #595b68;
  }
  header {
    background-color: #2b2c2f;
  }
  .header__logo--img {
    filter: invert(100%);
  }
  .info__container {
    background-color: #60626c;
  }
  .fonctionnement__container {
    background-color: #918e8e;
  }
  .fa-location-dot,
  .info__title,
  .fonctionnement__title,
  .info__text,
  .fa-solid,
  li,
  .restaurants__title,
  .card__restaurant--title,
  .restaurant__card--title2,
  .card__restaurant--subtitle,
  .card__restaurant--icon,
  .restaurant__page--title,
  .restaurant__card--title,
  .restaurant__page--icon,
  .restaurant__card--subtitle,
  .restaurant__card--description,
  .footer__title,
  .footer__list {
    color: #e9e9e9;
  }
  .card {
    background-color: #41424a;
  }
  .restaurant__card--info {
    background-color: #41424a;
  }
  .restaurant__card--info:hover,
  .card:hover {
    box-shadow: 0 0.25rem 1.25rem rgba(161, 156, 156, 0.3490196078);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #985ede;
  }
  .info__button:hover,
  .button-order:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1490196078) 0%, rgba(255, 255, 255, 0.1490196078) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0 0.25rem 0.93rem 0 rgba(161, 156, 156, 0.3490196078);
  }
}
/*=============== IMPORT UTILS ===============*/
/*=============== IMPORT "VARIABLES" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== IMPORT "VARIABLES" ===============*/
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/
/*=============== MIXIN ===============*/
/*========== Flexbox ==========*/
/*========== Media Queries ==========*/
/* Landon Schropp’s technique */
/*=============== VARIABLES CSS ===============*/
/*========== Theme colors ==========*/
/*========== Background colors ==========*/
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/* Auto dark : prefers-color-scheme */
/*========== Scrollbar colors ==========*/
/* Auto dark : prefers-color-scheme */
/*========== Button shadow colors ==========*/
/* Auto dark : prefers-color-scheme */
/*

/*========== typography ==========*/
/*========== Font weight ==========*/
/*========== Screen width for "media queries" ==========*/

/*# sourceMappingURL=style.css.map */
