@charset "UTF-8";

/*=============== GOOGLE FONT ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

/*=============== BASE ===============*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F6F6;
  position: relative;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
}

:focus {
  outline: none;
}

address {
  font-style: inherit;
}

ul {
  list-style: none;
}

h1,
.footer__title {
  font-family: Shrikhand;
}

h2,
.info__title,
p {
  font-family: Roboto;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.7rem;
  border-radius: 0.3rem;
  background-color: #c4bdba;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #807977;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ab7ce4;
}

/*=============== BUTTON STYLE ===============*/
.info__button,
.button-order {
  cursor: pointer;
  color: white;
  width: 13.62rem;
  height: 3.12rem;
  flex-shrink: 0;
  border-radius: 1.56rem;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0 0.25rem 0.62rem 0 rgba(0, 0, 0, 0.2509803922);
}

.button-order {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

.info__button:hover,
.button-order:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1490196078) 0%, rgba(255, 255, 255, 0.1490196078) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0 0.25rem 0.93rem 0 rgba(0, 0, 0, 0.3490196078);
}

/*=============== HEADER ===============*/
header {
  background-color: #fff;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
}

.header__nav,
.header__logo--img {
  padding: 14px 89px 13px 17px;
}

.header__nav--arrow {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  width: 1.87rem;
  height: 1.87rem;
  position: absolute;
  left: 1.18rem;
}

/*=============== FOOTER ===============*/
footer {
  background-color: #353535;
}

.footer__title,
.footer__list {
  color: #fff;
}

/*=============== INDEX PAGE ===============*/
.localisation__container, .info__container,
.fonctionnement__container {
  max-width: 375px; /* Résolution Mobile */
}

.info__container {
  background-color: #EAEAEA;
}

.fonctionnement__container {
  background-color: #fff;
}

.card__img {
  border-radius: 0 0 0.93rem 0.93rem;
  object-fit: cover;
  height: 10.87rem;
  width: 30%;
  margin-top: -1rem;
  margin-left: 1rem;
}

/*=============== MENU (Restaurants pages)===============*/
.restaurants__menu {
  max-width: 375px; /* Résolution Mobile */
  position: relative;
  padding: 1rem 2rem 0 3rem;
}

.restaurant__page--img {
  border-radius: 0 0 0.93rem 0.93rem;
  object-fit: cover;
  height: 10.87rem;
  width: 100%;
  margin-top: -1rem;
  margin-left: 1rem;
}

.restaurant__page--headline {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  margin: -40px auto 0 auto;
  padding: 32px 3.4vw 0px 3.4vw;
}

.restaurant {
  font-style: normal;
  line-height: normal;
}

.restaurant__card--title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.12rem;
  
}

.restaurant__card--title::after {
  justify-self: flex-end;
  content: "";
  overflow: visible;
  width: 3.06rem;
  height: 0.18rem;
  display: block;
  background-color: #99E2D0;
}

.restaurant__card--subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.94rem;
}

.restaurant__card--description {
  font-family: Roboto;
  font-weight: 300;
  font-size: 0.94rem;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
}

.restaurant__card--price {
  font-weight: 500;
}

.restaurant__card--info {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.93rem;
  background-color: white;
  box-shadow: 0 0.25rem 0.93rem rgba(0, 0, 0, 0.1);
  transition: box-shadow, transform, 0.5s;
}

.restaurant__card--info:hover {
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.3490196078);
}

/*# sourceMappingURL=style.css.map */
