/*=============== IMPORT "VARIABLES / MIXINS" ===============*/
@import '../utils/variables';
@import '../utils/mixins';

/*=============== FOOTER ===============*/
footer {
  width: 100%;
  background-color: $Background-color-footer;
  @include large-desktop {
    @include flex($justify: center);
  }

  .footer {
    @include flex($direction: column, $gap: 1rem);
    width: 100%;
    padding: 1.37rem 1.56rem;
    max-width: 90rem;

    @include tablet {
      @include flex(row-reverse, initial, flex-end, 0);
      height: 7.12rem;
      padding: 1.87rem 1.09rem;
      address .footer__link {
        width: 6.25rem;
      }
    }

    @include desktop {
      gap: 1rem;
      padding: 1.87rem 1.56rem;
      address .footer__link {
        width: 8.12rem;
      }
    }

    &__title {
      height: 1.68rem;
      transition: all 0.25s;
      &:hover {
        color: $Secondary-color;
      }
      @include tablet {
        width: 16%;
        max-width: 8.68rem;
      }
    }

    &__list {
      @include flex($direction: column, $gap: 0.43rem);
      @include tablet {
        @include flex(row, flex-end, flex-end, 0.43rem);
        
      }
    }

    &__link {
      @include flex($align: center, $gap: 0.62rem);
      height: 1.18rem;
      width: 11.87rem;
      transition: all 0.25s;
      &:hover {
        color: $Secondary-color;
      }
    }
  }
}
