/*=============== IMPORT "VARIABLES / MIXINS" ===============*/
@import '../utils/variables';
@import '../utils/mixins';

/*=============== LOADER ===============*/
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;  
  inset: 0;
  z-index: 2;
  border-radius: 0.31rem;
  animation: loading 300ms forwards;
  animation-delay: 3s;
  transform-origin: center; 

  /* Style d'arrière plan du loader 
  source : https://youtu.be/3HRvb2tLqF4?si=dAvqkS3wlmoNzTr4 */
  &__background--glass {
    height: 100vh;
    width: 100vw;
    @include flex ($align: center);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(0.62rem);
    -webkit-backdrop-filter: blur(0.62rem);
    border: 0.06rem solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
  }

  /* Style des cercles
  source : https://youtu.be/U3hCPkV9SnU?si=dl3_HEngwzSLMRHx */
  &__circle {
    margin: auto;
    width: 15.6rem;
    height: 15.6rem;
    border-radius: 50%;
    border: 0.43rem solid transparent;
    border-top-color: $Primary-color;
    animation: circle 2s linear infinite;
  }

  &__circle::before,
  &__circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 0.43rem solid transparent;
  }

  &__circle::before {
    top: 0.62rem;
    left: 0.62rem;
    right: 0.62rem;
    bottom: 0.62rem;
    border-top-color: $Secondary-color;
    animation: circle 3s linear infinite;
  }

  &__circle::after {
    top: 1.56rem;
    left: 1.56rem;
    right: 1.56rem;
    bottom: 1.56rem;
    border-top-color: $Tertiary-color;
    animation: circle 1.5s linear infinite;
  }
}

/*=============== KEYFRAMES LOADER ===============*/
/* Processus d'animation des cercles */
@keyframes circle {
  0% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(360deg);
  }
}

/* Processus d'animation d'arrière plan du loader "background glass" */
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    display: none;
    }
}