/*=============== IMPORT "VARIABLES / MIXINS" ===============*/
@import "../utils/variables";
@import "../utils/mixins";

/*=============== LOADER ===============*/
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;  
  inset: 0;
  z-index: 2;
  border-radius: 5px;
  animation: loading 300ms forwards;
  animation-delay: 4s;
  transform-origin: top;
  //background-color: rgb(35, 24, 24);  

  /* Style d'arrière plan du loading 
  source : https://youtu.be/3HRvb2tLqF4?si=dAvqkS3wlmoNzTr4 */
  &__background--glass {
    height: 100vh;
    width: 100vh;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);   
  }

  &__circle {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: $Primary-color;
    animation: circle 2s linear infinite;
    //background: blue;
  }

  &__circle::before,
  &__circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
  }

  &__circle::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: $Secondary-color;
    animation: circle 3s linear infinite;
    //background: green;
  }

  &__circle::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: $Tertiary-color;
    animation: circle 1.5s linear infinite;
    //background: orange;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    display: none;
    }
}
